.contact {
	padding-bottom: 70px;
	.contact__sectionTitle {
		background:  url("../assets/map.jpeg");
		background-repeat: no-repeat;
		min-height: 25vh;
		background-size: 140%;
		background-position: 55% 43%;
		filter: grayscale(70%);
		p {
			text-align: center;
			display: block;
			padding: 130px 0;
			font-size: 4rem;
			font-weight: 700;
			letter-spacing: 2.5rem;
			text-transform: uppercase;
			margin: 2px;
		}
	}
	.contactInfo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 50px;
		font-size: 2.4rem;
		text-transform: uppercase;
		position: relative;
		div i {
			padding-right: 100px;
		}
		div .underline::after {
				content: "\00a0";
				padding: 10px;
				font-size: 4rem;
				width: 30%;
				border-top: 1px solid black;
				position: absolute;
				transform: rotate(-35deg);
				left: 40px;
				bottom: -10px;
		}
		.contactInfo__email {
			font-size: 4rem;
			position: relative;
			padding: 45px 0;
			color: $color-blue;
			.email__content {
				position: absolute;
				font-size: 1.6rem;
				bottom: 30px;
				left: 50px;
				color: black;
			}
		}
		.contactInfo__twitter {
			font-size: 4rem;
			position: relative;
			padding: 45px 0;
			color: $color-blue;
			.twitter__content {
				position: absolute;
				font-size: 1.6rem;
				bottom: 30px;
				left: 50px;
				color: black;
			}
		}
		.contactInfo__linkedin {
			font-size: 4rem;
			position: relative;
			padding: 45px 0;
			color: $color-blue;
			.linkedin__content {
				position: absolute;
				font-size: 1.6rem;
				bottom: 30px;
				left: 50px;
				color: black;
			}
		}



	}



	.contactForm {
		max-width: 80%;
		margin: 0 auto;
		.contactFormInput {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			div {
				display: flex;
				flex-direction: column;
				width: 30%;
				label {
					font-size: 1.8rem;
					margin-bottom: 10px;
				}
				input {
					font-size: 2.4rem;
					padding: 10px;
					outline: none;
					border: 1px solid black;
				}
				input:active {
				}
			}
			.contactForm__message {
				margin: 30px auto;
				width: 100%;
				textarea {
					resize: none;
					outline: none;
					border: 1px solid black;
					font-size: 2.4rem;
					padding: 10px;
					height: 300px;
				}
			}
		}

		input[type=submit] {
			display: block;
			// margin: 0 auto;
			padding: 25px 75px;
			text-transform: uppercase;
			font-size: 1.8rem;
			background: $color-blue;
			outline: none;
			border: none;
			color: white;
		}
		input[type=submit]:hover {
			background: lighten($color-blue, 10%);
			color: black;
		}
	}
	
}


@media (max-width: 865px) {
	.contact .contact__sectionTitle p {
		font-size: 3.6rem;
		letter-spacing: 2rem;
	}
	.contact .contact__wrapper {
		max-width: 95%;
	}
	.contact .contactInfo {
		.contactInfo__twitter, .contactInfo__email, .contactInfo__linkedin {
			font-size: 2.5rem;
			padding-right: 70px;
		}
	}

}

@media (max-width: 750px) { 
	
}


@media (max-width: 750px) {
	.contact .contact__sectionTitle p {
		font-size: 2rem;
	}
	.contact .contactInfo {
		flex-direction: column;
	}
	.contact .contactForm .contactFormInput {
		flex-direction: column;
		div {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	.contact .contactForm {
		max-width: 100%;
	}
	.contact .contactInfo div .underline::after {
		left: 15px;
	}
}