header {
	min-height: 20vh;
	.header__wrapper {
		min-height: 20vh;
		// display: flex;
		flex-direction: row;
		justify-content: space-between;
		// padding-bottom: 10px;
		padding: 35px 0;
		text-transform: uppercase;
		.logo {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			padding: 10px 0;
			font-size: 6rem;
			font-weight: 400;
		}
		.links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			.links__socialMedia {
				font-size: 1.6rem;
				text-align: right;
				i {
					margin: 0 18px;
					color: #000;
					transition: color 0.2s ease;
				}
				i:hover {
					color: $color-blue;
				}
			}
		} // End of .links
		.links__website {

			position: relative;
			width: 100%;
			font-size: 1.8rem;
				text-align: right;
			a {
				display: inline-block;
				margin: 0 20px;
				padding-bottom: 1px;
				font-weight: 100;
			}
			a:hover {
				border-bottom: 1px solid #7dddf9;
			}
		}
	}
}

.splash {
	background: url("../assets/background/bgoriginal.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	background-attachment: fixed;
	min-height: 70vh;
	position: relative;
	opacity: 0.95;
	.splash__words {
		position: absolute;
		right: 12%;
		top: 33%;
		p {
			// text-align: right;
			display: block;
			line-height: 4rem;
			font-size: 5.2rem;
			color: white;
			margin: 0;
			text-transform: uppercase;
		}
		p:first-child {
			position: relative;
			font-weight: 100;
		}
		p:last-child {
			font-weight: 900;
			position: relative;
			left: 50px;
		}
	}
}





@media (max-width: 2880px) {
	.splash {
		background: url("../assets/background/bg2880w.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100%;
		background-attachment: fixed;
	}
}
@media (max-width: 1920px) {
	.splash {
		background: url("../assets/background/bg1920w.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100%;
		background-attachment: fixed;
	}
}
@media (max-width: 1280px) {
	.splash {
		background: url("../assets/background/bg1280w.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100%;
		background-attachment: fixed;
	}
}
@media (max-width: 1024px) {
	.splash {
		background: url("../assets/background/bg1024w.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100%;
		background-attachment: fixed;
	}
}
@media (max-width: 960px) {
	.splash {
		background: url("../assets/background/bg960w.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100%;
		background-attachment: fixed;
	}
}
@media (max-width: 800px) {
	.splash {
		background: url("../assets/background/bg800w.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100%;
		background-attachment: fixed;
	}
}
@media (max-width: 690px) {
	header .header__wrapper .links .links__socialMedia {
		display: none;
	}
	header .header__wrapper .links__website a {
		margin: 0 10px;
	}
	.splash .splash__words p {
		font-size: 4rem;
	}
}

@media (max-width: 530px) { 
	.splash .splash__words p{
		font-size: 3.4rem;
	}
}

@media (max-width: 480px) {
	header .header__wrapper {
		padding: 0;
	}
	header .header__wrapper .links__website a:before {
		display: none;
	}
	.splash {
		background-position: 50% bottom;
		background-size: cover;
		background-attachment: fixed;
		min-height: 60vh;
		.splash__words p {
			font-size: 2.7rem;
		}
	}
	header .header__wrapper .links__website {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		a {
			margin: 20px 0;
			text-align: center;
		}
	}
	header .header__wrapper .logo {
		margin: 0 auto;
	}

	.splash .splash__words p:first-child {
		font-size: 3.2rem;
	}

	.splash .splash__words p:last-child {
		left: 25px;
		font-size: 3.2rem;
	}
}


@media (max-width: 415px) {
	.splash .splash__words p:first-child {
		font-size: 2.8rem;
	}

	.splash .splash__words p:last-child {
		font-size: 2.8rem;
	}
}


@media (max-width: 370px) {
	.splash .splash__words p:first-child {
		font-size: 2.4rem;
	}

	.splash .splash__words p:last-child {
		font-size: 2.4rem;
	}
}

