.skills {
	// padding-bottom: 85px;
	.skills__wrapper {
		padding: 120px 0;
	}
	.skills__missionStatement {
		padding-bottom: 100px;
		width: 85%;
		margin: 0 auto;
		text-align: center;
		.missionStatement__container{
			position: relative;
			// width: 50%;
			padding-top: 65px;
			.section__bgChar{
				z-index: -10;
				margin: 0;
				color: rgba(125, 221, 249, 0.4);
				position: relative;
				right: 60px;
				top: 10px;
				font-size: 15rem;
				line-height: 0;
				// top: 65px;
				font-style: italic;
				font-family: roboto;
				font-weight: 700;
			}
			.section__title{
				z-index: 10;
				position: relative;
				font-size: 2.8rem;
				line-height: 0;
				padding-left: 40px;
				padding-top: 30px;
				margin: 0;
				text-transform: uppercase;
				letter-spacing: 1.6rem;
				font-family: roboto;
				font-style: italic;
			}
		}
	}

	.skills__list {
		.skills__list__row {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.skill {
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
			// background: red;
			margin: 0 auto;
			width: 33.3%;
			img {
				display: block;
				margin: 0 auto;
				width: 200px;
				padding-bottom: 35px;
			}
			p {
				font-size: 2.8rem;
				margin: 0;
				text-align: center;
			}
		}
		.row1__skill4 img {
			width: 225px;
		}
		.row2__skill1 img {
			width: 260px;
		}
		.row2__skill3 img {
			width: 230px;
		}
	}
}






@media (max-width: 1150px) {
	.skills .skills__list .skill img {
		width: 150px;
	}
	.skills .skills__list {
		.row2__skill1 img, .row2__skill3 img {
			width: 180px;
		}
	}
}

@media (max-width: 860px) {

	.skills .skills__list {
		.row2__skill1 img, .row2__skill3 img {
			width: 160px;
		}
	}
}

@media (max-width: 760px) {
	.skills .skills__list {
		flex-direction: row;
		.skill {
			width: 50%;
		}
	}

	.skills .skills__list .skills__list__row {
		flex-direction: row;
		flex-wrap: wrap;
	}


}