article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a, a:visited {
  text-decoration: none;
  color: black; }

header {
  min-height: 13vh; }
  header .header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 25px 0; }
    header .header__wrapper .logo {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding: 20px 0;
      font-size: 6rem;
      line-height: 3rem; }
    header .header__wrapper .links {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      header .header__wrapper .links .links__socialMedia {
        font-size: 1.6rem;
        text-align: right; }
        header .header__wrapper .links .links__socialMedia i {
          padding: 0 20px; }
      header .header__wrapper .links .links__website {
        font-size: 1.8rem; }
        header .header__wrapper .links .links__website a {
          display: inline-block;
          margin: 0 20px;
          padding-bottom: 1px; }
        header .header__wrapper .links .links__website a:hover {
          border-bottom: 1px solid red;
          padding-bottom: 0; }

.splash {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  background-attachment: inherit;
  min-height: 82vh;
  position: relative; }
  .splash .splash__words {
    position: absolute;
    right: 15%;
    top: 45%; }
    .splash .splash__words p {
      display: block;
      line-height: 4rem;
      font-size: 5rem;
      color: white;
      margin: 0;
      text-transform: uppercase; }
    .splash .splash__words p:first-child {
      position: relative;
      font-weight: 100; }
    .splash .splash__words p:last-child {
      font-weight: 900;
      position: relative;
      left: 50px; }

.aboutMe {
  background: #F6F6F6; }
  .aboutMe .aboutMe__wrapper {
    max-width: 60%;
    padding: 120px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .aboutMe .aboutMe__wrapper .aboutMe__image {
      padding: 0 35px;
      border-radius: 50%; }
    .aboutMe .aboutMe__wrapper .aboutMe__description {
      width: 45%;
      padding: 0 35px; }
      .aboutMe .aboutMe__wrapper .aboutMe__description p {
        margin: 0; }
    .aboutMe .aboutMe__wrapper .aboutMe__name {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 4rem; }
    .aboutMe .aboutMe__wrapper .aboutMe__title {
      font-size: 1.8rem; }
    .aboutMe .aboutMe__wrapper .aboutMe__lineBreak {
      font-size: 2rem;
      line-height: 3.8rem; }
    .aboutMe .aboutMe__wrapper .aboutMe__bio {
      font-size: 1.8rem; }

.skills {
  padding-bottom: 85px; }
  .skills .skills__missionStatement {
    display: -ms-flexbox;
    display: flex;
    padding: 120px 0;
    width: 80%;
    margin: 0 auto; }
    .skills .skills__missionStatement .missionStatement__container {
      position: relative;
      width: 50%;
      padding-top: 65px; }
      .skills .skills__missionStatement .missionStatement__container .section__bgChar {
        z-index: -10;
        margin: 0;
        color: #F6F6F6;
        position: absolute;
        font-size: 15rem;
        line-height: 0;
        top: 65px;
        font-style: italic;
        font-family: roboto;
        font-weight: 700; }
      .skills .skills__missionStatement .missionStatement__container .section__title {
        z-index: 10;
        position: relative;
        font-size: 2.8rem;
        line-height: 0;
        padding-left: 40px;
        padding-top: 30px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1.6rem;
        font-family: roboto;
        font-style: italic; }
    .skills .skills__missionStatement .missionStatement__description {
      font-family: roboto;
      width: 50%;
      font-size: 1.6rem;
      line-height: 2.4rem; }
  .skills .skills__list .skills__list__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .skills .skills__list .skill {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    margin: 0 auto 40px auto;
    width: 33.3%; }
    .skills .skills__list .skill img {
      display: block;
      margin: 0 auto;
      width: 150px;
      padding-bottom: 35px; }
    .skills .skills__list .skill p {
      font-size: 2.8rem;
      margin: 0;
      text-align: center; }

.wrapper {
  max-width: 70%;
  margin: 0 auto; }

.myWorks .myWorks__wrapper {
  max-width: 70%;
  background: red; }
  .myWorks .myWorks__wrapper .project {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .myWorks .myWorks__wrapper .project .project__image {
      width: 60%; }
      .myWorks .myWorks__wrapper .project .project__image img {
        width: 100%;
        padding: 35px; }
    .myWorks .myWorks__wrapper .project .project__description {
      width: 40%;
      padding: 0 50px;
      font-size: 1.6rem;
      line-height: 3.8rem; }
      .myWorks .myWorks__wrapper .project .project__description p {
        font-family: roboto;
        margin: 0; }
      .myWorks .myWorks__wrapper .project .project__description p:first-child {
        font-size: 2.4rem;
        font-weight: 900;
        margin-bottom: 20px; }
  .myWorks .myWorks__wrapper .project:nth-of-type(even) {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
