article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a, a:visited {
  text-decoration: none;
  color: black; }

header {
  min-height: 13vh; }
  header .header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 25px 0;
    text-transform: uppercase; }
    header .header__wrapper .logo {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding: 20px 0;
      font-size: 6rem;
      line-height: 3rem;
      font-weight: 400; }
    header .header__wrapper .links {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      header .header__wrapper .links .links__socialMedia {
        font-size: 1.6rem;
        text-align: right; }
        header .header__wrapper .links .links__socialMedia i {
          padding: 0 20px;
          color: #000;
          transition: color 0.2s ease; }
        header .header__wrapper .links .links__socialMedia i:hover {
          color: #7dddf9; }
      header .header__wrapper .links .links__website {
        font-size: 1.8rem; }
        header .header__wrapper .links .links__website a {
          display: inline-block;
          margin: 0 20px;
          padding-bottom: 1px;
          font-weight: 100;
          position: relative; }
        header .header__wrapper .links .links__website a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -3px;
          left: 0;
          background-color: #7dddf9;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s; }
        header .header__wrapper .links .links__website a:hover:before {
          visibility: visible;
          transform: scaleX(1); }

.splash {
  background: url("../assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  min-height: 82vh;
  position: relative;
  opacity: 0.95; }
  .splash .splash__words {
    position: absolute;
    right: 12%;
    top: 40%; }
    .splash .splash__words p {
      display: block;
      line-height: 4rem;
      font-size: 5.2rem;
      color: white;
      margin: 0;
      text-transform: uppercase; }
    .splash .splash__words p:first-child {
      position: relative;
      font-weight: 100; }
    .splash .splash__words p:last-child {
      font-weight: 900;
      position: relative;
      left: 50px; }

.aboutMe {
  background: #F6F6F6; }
  .aboutMe .aboutMe__wrapper {
    max-width: 85%;
    padding: 120px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .aboutMe .aboutMe__wrapper .aboutMe__image {
      padding: 0 35px;
      border-radius: 50%;
      width: 450px; }
    .aboutMe .aboutMe__wrapper .aboutMe__description {
      margin-left: 45px;
      width: 45%;
      padding: 0 35px; }
      .aboutMe .aboutMe__wrapper .aboutMe__description p {
        margin: 0; }
    .aboutMe .aboutMe__wrapper .aboutMe__name {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 4rem; }
    .aboutMe .aboutMe__wrapper .aboutMe__title {
      font-size: 1.8rem; }
    .aboutMe .aboutMe__wrapper .aboutMe__lineBreak {
      font-size: 2rem;
      line-height: 3.8rem; }
    .aboutMe .aboutMe__wrapper .aboutMe__bio {
      font-size: 1.8rem; }

.skills .skills__missionStatement {
  padding: 100px 0;
  width: 85%;
  margin: 0 auto;
  text-align: center; }
  .skills .skills__missionStatement .missionStatement__container {
    position: relative;
    padding-top: 65px; }
    .skills .skills__missionStatement .missionStatement__container .section__bgChar {
      z-index: -10;
      margin: 0;
      color: rgba(125, 221, 249, 0.4);
      position: relative;
      right: 60px;
      top: 10px;
      font-size: 15rem;
      line-height: 0;
      font-style: italic;
      font-family: roboto;
      font-weight: 700; }
    .skills .skills__missionStatement .missionStatement__container .section__title {
      z-index: 10;
      position: relative;
      font-size: 2.8rem;
      line-height: 0;
      padding-left: 40px;
      padding-top: 30px;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1.6rem;
      font-family: roboto;
      font-style: italic; }

.skills .skills__list .skills__list__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

.skills .skills__list .skill {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  margin: 0 auto 40px auto;
  width: 33.3%; }
  .skills .skills__list .skill img {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 35px; }
  .skills .skills__list .skill p {
    font-size: 2.8rem;
    margin: 0;
    text-align: center; }

.skills .skills__list .row1__skill4 img {
  width: 225px; }

.skills .skills__list .row2__skill1 img {
  width: 260px; }

.skills .skills__list .row2__skill3 img {
  width: 230px; }

.skills .skills__list .row3__skill1 img {
  width: 250px; }

.myWorks {
  background: #F6F6F6;
  padding: 65px 0; }
  .myWorks .myWorks__wrapper {
    max-width: 70%; }
    .myWorks .myWorks__wrapper .project {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin: 50px 0; }
      .myWorks .myWorks__wrapper .project .project__image {
        width: 50%; }
        .myWorks .myWorks__wrapper .project .project__image img {
          width: 100%;
          margin: 35px;
          border: 1px solid black; }
      .myWorks .myWorks__wrapper .project .project__description:nth-of-type(even) {
        margin-left: 75px; }
      .myWorks .myWorks__wrapper .project .project__description {
        width: 50%;
        font-size: 1.6rem;
        line-height: 3.8rem; }
        .myWorks .myWorks__wrapper .project .project__description p {
          font-family: roboto;
          margin: 0; }
        .myWorks .myWorks__wrapper .project .project__description p:first-child {
          font-size: 4rem;
          font-weight: 900;
          margin-bottom: 5px; }
        .myWorks .myWorks__wrapper .project .project__description .tags {
          margin: 10px 0 20px 0; }
          .myWorks .myWorks__wrapper .project .project__description .tags span {
            background: #7dddf9;
            color: #000;
            font-style: italic;
            padding: 5px 10px;
            margin-right: 5px;
            transition: all 0.2s ease; }
          .myWorks .myWorks__wrapper .project .project__description .tags span:hover {
            background: #f0ac3a;
            color: white; }
    .myWorks .myWorks__wrapper .project:nth-of-type(even) {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.contact {
  padding: 70px 0; }
  .contact .contact__sectionTitle {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../assets/map.jpeg");
    min-height: 25vh;
    background-size: 120%;
    background-position: 55% 43%;
    filter: grayscale(100%); }
    .contact .contact__sectionTitle p {
      text-align: center;
      display: block;
      padding: 130px;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 2.5rem;
      text-transform: uppercase; }
  .contact .contactInfo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 50px;
    font-size: 2.4rem;
    text-transform: uppercase;
    position: relative; }
    .contact .contactInfo div i {
      padding-right: 100px; }
    .contact .contactInfo div .underline::after {
      content: "\00a0";
      padding: 10px;
      font-size: 4rem;
      width: 30%;
      border-top: 1px solid black;
      position: absolute;
      transform: rotate(-35deg);
      left: 70px;
      bottom: -20px; }
    .contact .contactInfo .contactInfo__email {
      font-size: 4rem;
      position: relative;
      padding: 45px; }
      .contact .contactInfo .contactInfo__email .email__content {
        position: absolute;
        font-size: 1.8rem;
        bottom: 10px;
        left: 100px; }
    .contact .contactInfo .contactInfo__twitter {
      font-size: 4rem;
      position: relative;
      padding: 45px; }
      .contact .contactInfo .contactInfo__twitter .twitter__content {
        position: absolute;
        font-size: 1.8rem;
        bottom: 10px;
        left: 100px; }
    .contact .contactInfo .contactInfo__linkedin {
      font-size: 4rem;
      position: relative;
      padding: 45px; }
      .contact .contactInfo .contactInfo__linkedin .linkedin__content {
        position: absolute;
        font-size: 1.8rem;
        bottom: 10px;
        left: 100px; }

.wrapper {
  max-width: 85%;
  margin: 0 auto; }

.contactForm {
  max-width: 80%;
  margin: 0 auto; }
  .contactForm .contactFormInput {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .contactForm .contactFormInput div {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 30%; }
      .contactForm .contactFormInput div label {
        font-size: 1.8rem;
        margin-bottom: 10px; }
      .contactForm .contactFormInput div input {
        font-size: 2.4rem;
        padding: 10px;
        outline: none; }
    .contactForm .contactFormInput .contactForm__message {
      margin: 30px auto;
      width: 100%; }
      .contactForm .contactFormInput .contactForm__message textarea {
        outline: none;
        font-size: 2.4rem;
        padding: 10px;
        height: 300px; }
  .contactForm input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 25px 75px;
    text-transform: uppercase;
    font-size: 1.8rem;
    background: #373737;
    outline: none;
    border: none;
    color: white; }
  .contactForm input[type=submit]:hover {
    background: #f0ac3a;
    color: #373737; }
